@import url(http://fonts.googleapis.com/css?family=Lato:100,300,400,700);
/* line 10, /Users/Sonja/Desktop/Projects/Avialogy/web/source/stylesheets/all.scss */
body, p, button {
  font-family: 'Lato', sans-serif; }

/* line 14, /Users/Sonja/Desktop/Projects/Avialogy/web/source/stylesheets/all.scss */
body, p {
  background: #fff;
  text-align: center;
  line-height: 1.5em;
  color: #011c31; }

/* line 21, /Users/Sonja/Desktop/Projects/Avialogy/web/source/stylesheets/all.scss */
h1 {
  font-size: 1.5em;
  font-weight: 400;
  margin-bottom: 80px;
  color: #011c31; }

/* line 28, /Users/Sonja/Desktop/Projects/Avialogy/web/source/stylesheets/all.scss */
h2 {
  font-size: 1.5em;
  font-weight: 400;
  color: #011c31; }

/* line 34, /Users/Sonja/Desktop/Projects/Avialogy/web/source/stylesheets/all.scss */
p {
  max-width: 600px;
  margin: 1.2em auto; }

/* line 40, /Users/Sonja/Desktop/Projects/Avialogy/web/source/stylesheets/all.scss */
#header {
  background: url("../images/header.png") #011c31 no-repeat center;
  height: 360px;
  width: auto;
  margin-bottom: 80px; }

/* line 47, /Users/Sonja/Desktop/Projects/Avialogy/web/source/stylesheets/all.scss */
.last {
  margin-bottom: 80px; }

/* line 51, /Users/Sonja/Desktop/Projects/Avialogy/web/source/stylesheets/all.scss */
#find-sign {
  background: #011c31;
  border: none;
  border-radius: 5px;
  padding: 20px 100px;
  font-size: 1.5em;
  font-weight: 300;
  letter-spacing: 5px;
  margin-bottom: 80px;
  color: #fff; }

/* line 63, /Users/Sonja/Desktop/Projects/Avialogy/web/source/stylesheets/all.scss */
#air-sign-gallery {
  max-width: 800px;
  margin: 0 auto;
  margin-bottom: 80px; }
  /* line 68, /Users/Sonja/Desktop/Projects/Avialogy/web/source/stylesheets/all.scss */
  #air-sign-gallery div {
    display: inline-block;
    max-width: 220px;
    padding: 10px; }
  /* line 74, /Users/Sonja/Desktop/Projects/Avialogy/web/source/stylesheets/all.scss */
  #air-sign-gallery img {
    padding: 10px; }

/* line 80, /Users/Sonja/Desktop/Projects/Avialogy/web/source/stylesheets/all.scss */
footer {
  background: #011c31; }
  /* line 83, /Users/Sonja/Desktop/Projects/Avialogy/web/source/stylesheets/all.scss */
  footer div {
    padding: 20px 0;
    color: #fff;
    font-weight: 200;
    margin: 0 auto;
    max-width: 700px; }
  /* line 91, /Users/Sonja/Desktop/Projects/Avialogy/web/source/stylesheets/all.scss */
  footer a:link, footer a:visited {
    text-decoration: none;
    color: #08e8de; }
  /* line 95, /Users/Sonja/Desktop/Projects/Avialogy/web/source/stylesheets/all.scss */
  footer a:hover {
    text-decoration: none;
    color: #011c31; }
