---
title: Chunky bacon!
---

<div>
  <h1> Avialogy </h1>

	<img src="images/avia_logo.png"/>

	<p>
	Free AERONAUTICAL FORECAST, unique AIR TRAFFIC CONTEXT. 
	Please remain seated until we reach your destiny.
	</p>

	<p>
	Avialogy (Europe) builds on the premise that there is a relationship between primary systems 
	of aerial commotion and phenomena in the human world. This study interprets movements 
	and relative positions of powered, fixed-wing machines in cruising altitude.
	</p>

	<p>
	 Simply put: 
	<em>It's your horoscope based on aircraft, not star constellations.</em>
	<p>

	<p>
	Avialogy helps navigate through life since 1903. 
	</p>

	</p>

<button id="find-sign">Find out your air sign.</button>

<div id="lufthansa" style="display:none">
	Lufthansa ist da!
</div>

<div id="airfrance" style="display:none">
	AirFrance
</div>

<div id="britishairways" style="display:none">
	British
</div>


</div><!-- .welcome -->