---
title: Avialogy
---

<div>

	<div id="header"/>
	</div>
	
	<img id="logo" src="images/avia_logo.png"/>
 	
 	<h1>A V I A L O G Y</h1>
	<p>
	Free AERONAUTICAL FORTUNES, unique AIR TRAFFIC GAZING. 
	</br>
	Please remain seated until we reach your destiny.
	</p>

	<p>
	Avialogy (Europe) builds on the premise that there is a relationship between primary systems 
	of aerial commotion and phenomena in the human world. This study interprets movements 
	and relative positions of powered, fixed-wing machines in cruising altitude.
	</p>

	<p class="last">
	Simply put: 
	It's your horoscope based on aircraft, not star constellations.
	</br>
	Avialogy helps navigate through life since 1903. 
	</p>

	</p>

<button id="find-sign">WHAT'S YOUR AIRSIGN?</button>

<div id="lufthansa" class="airsign" style="display:none">
	<img id="logo" src="images/lufthansa.png"/>
	<p class="last">
	Lufthansa Auswertung
	</p>
</div>

<div id="britishairways" class="airsign" style="display:none">
	<img id="logo" src="images/british.png"/>
	<p class="last">
	British Airways Auswertung
	</p>
</div>

<div id="iberia" class="airsign" style="display:none">
	<p>Iberia</p>
	<p class="last">
	Iberia Auswertung
	</p>
</div>

<div id="klm" class="airsign" style="display:none">
	<p>KLM</p>
	<p class="last">
	KLM Auswertung
	</p>
</div>

<div id="airfrance" class="airsign" style="display:none">
	<img id="logo" src="images/france.png"/>
	<p class="last">
	AirFrance Auswertung
	</p>
</div>

<div id="aeroflot" class="airsign" style="display:none">
	<img id="logo" src="images/aeroflot.png"/>
	<p class="last">
	Aeroflot Auswertung
	</p>
</div>

<div id="norwegian" class="airsign" style="display:none">
	<img id="logo" src="images/norwegian.png"/>
	<p class="last">
	Norwegian Auswertung
	</p>
</div>

<div id="easyjet" class="airsign" style="display:none">
	<img id="logo" src="images/easy.png"/>
	<p class="last">
	Easyjet Auswertung
	</p>
</div>

<div id="ryanair" class="airsign" style="display:none">
	<img id="logo" src="images/ryan.png"/>
	<p class="last">
	Ryanair Auswertung
	</p>
</div>


	<h2>A I R S I G N S</h2>

	<div id="air-sign-gallery">
	<div>
	<img id="logo" src="images/lufthansa.png"/>
	<p> D L H </br>
		The senator of airsigns. </br>
		With a tendency to form alliances, citizens located under this airsign know that bigger means more efficient.
		</br>
		</br>
	</p>
	</div>

	<div>
	<img id="logo" src="images/british.png"/>
	<p> B A W </br>
		Some say this is the sky's favourite airsign. And that its tracks are marked by drops of clotted cream. All avialogy can confirm is ...we lost the rest of this sentence.
	</p>
	</div>

	<div>
	<img id="logo" src="images/iberia.png"/>
	<p> I B E</br> 
		Ascendant British Airways. People living under are most likely to realize – there is no destino final like home.</p>
	</div>

	<div>
	<img id="logo" src="images/klm.png"/>
	<p> K L M </br> 
		Airsign description Lorem Ipsum </p>
	</div>

	<div>
	<img id="logo" src="images/france.png"/>
	<p> A F R </br> 
		Airsign description Lorem Ipsum </p>
	</div>

	<div>
	<img id="logo" src="images/aeroflot.png"/>
	<p> A F L </br> 
		Airsign description Lorem Ipsum </p>
	</div>

	<div>
	<img id="logo" src="images/norwegian.png"/>
	<p> N A X </br> 
		Airsign description Lorem Ipsum </p>
	</div>

	<div>
	<img id="logo" src="images/easy.png"/>
	<p> E Z Y </br> 
		Airsign description Lorem Ipsum </p>
	</div>

	<div>
	<img id="logo" src="images/ryan.png"/>
	<p> R Y R </br> 
		Airsign description Lorem Ipsum </p>
	</div>

	</div>

	<footer>
	<div>
	Avialogy is brought to you by a group of scientists from the field of Avialogy and 
	<a href="http://sonjaheinen.com" target="_blank">SXH</a>. 
	</br>
	Aeronautical fortunes are based on real-time flight and airline data as well as speculative research.
	</br>
	All content copyfree.
	</div>
	</footer>

</div>