---
title: Avialogy
---

<div>

	<div id="header"/>
	</div>
	
	<img id="logo" src="images/avia_logo.png"/>
 	
 	<h1>A V I A L O G Y</h1>
	<p>
	Free AERONAUTICAL FORTUNES, unique AIR TRAFFIC GAZING. 
	</br>
	Please remain seated until we reach your destiny.
	</p>

	<p>
	Avialogy (Europe) builds on the premise that there is a relationship between primary systems 
	of aerial commotion and phenomena in the human world. This study interprets movements 
	and relative positions of powered, fixed-wing machines in cruising altitude.
	</p>

	<p class="last">
	Simply put: 
	It's your horoscope based on aircraft, not star constellations.
	</br>
	Avialogy helps navigate through life since 1903. 
	</p>

	</p>

<button id="find-sign">GET YOUR AIRSIGN! HERE!</button>

<div id="lufthansa" class="airsign" style="display:none">
	<p>Lufthansa</p>
	<p class="last">
	Lufthansa Eins
	</p>
</div>

<div id="airfrance" class="airsign" style="display:none">
	AirFrance
</div>

<div id="britishairways" class="airsign" style="display:none">
	British
</div>


	<p>
	Intro Airsigns
	</p>

	<p class="last">
	Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum
	</p>

	<div id="air-sign-gallery">
	<img id="sign-british" src="images/british.png"/>
	
	<div id="britishairways-gallery" class="airsign" style="display:none">
	<p class="last">
	Zweites British.
	</p>

	</div>

	<img id="logo" src="images/france.png"/>
	<img id="logo" src="images/avia_logo.png"/>
	<img id="logo" src="images/avia_logo.png"/>
	<img id="logo" src="images/avia_logo.png"/>
	<img id="logo" src="images/avia_logo.png"/>
	<img id="logo" src="images/avia_logo.png"/>
	<img id="logo" src="images/avia_logo.png"/>
	<img id="logo" src="images/avia_logo.png"/>
	</div>

<!-- User stories 
Soon!
-->

	<footer>
	<div>
	Avialogy is brought to you by a group of scientists from the field of Avialogy and 
	<a href="http://sonjaheinen.com" target="_blank">SXH</a>. 
	</br>
	Aeronautical fortunes are based on real-time flight and airline data as well as speculative research.
	</br>
	All content copyfree.
	</div>
	</footer>

</div>